.theme-dark { background-color: #1b1b1b; color: #ccc; }
.theme-dark .head-container { background-color: #242424; }

.theme-dark #Overlay.visible { background-color: rgba(53, 52, 60, 0.89); }

.theme-dark a { color: #a69988 }
.theme-dark .menu-item { color: #000 }
.theme-dark .post .user .settings:hover { color: #ccc }

.theme-dark .head .user .name { color: #a69988 }
.theme-dark .user .name { color: #a69988 }
.theme-dark .post-list-type a { color: #adadad; }
.theme-dark .post-list-type a:hover { color: #a69988; border-bottom-color: #a69988 }
.theme-dark .post-list-type .active { color: #a69988; border-bottom-color: #a69988 }

.theme-dark .post-create .postfield { border-color: #333;  }
.theme-dark .post-create.editing { box-shadow: 0px 1px 13px 1px #111213 }

.theme-dark .button-submit { color: #ccc }
.theme-dark .button-outline { color: #333; }

.theme-dark .post .body { color: #dcd9e5; }
.theme-dark .post { background-color: #242424; border: none; border-radius: 0px; }
.theme-dark .comment-list { background-color: #242424; border-top-color: #333 }
.theme-dark .post .img .fullsize { background-color: #333 }
.theme-dark .post .reply-name { color: #ccc }
.theme-dark .post .user .address { color: #ccc }
.theme-dark .post .added, .theme-dark .post .sep { color: #a69988 }
.theme-dark .post .body a { color: #a69988 }
.theme-dark .post blockquote { border-left: 3px solid #444; }

.theme-dark .activity-list .items a { color: #a69988 }
.theme-dark .activity { color: #ccc }
.theme-dark .activity-list .bg-line { background-color: #444 }
.theme-dark .activity-list .circle { border-color: #333; background-color: #1b1b1b }
.theme-dark .activity:last-child { background-color: #1b1b1b; }

.theme-dark input.text, .theme-dark textarea { background-color: #1b1b1b; border-color: #333; color: #ccc; }
.theme-dark .card { box-shadow: 0px 1px 11px #1b1b1b; background-color: #242424; }

.theme-dark .button-follow:hover { background-color: rgba(74, 160, 177, 0.1) !important; border-color: #444 !important; color: #55cedf !important }
.theme-dark .users.gray .button-follow { border: 1px solid #3b8297 }
.theme-dark .user.notseeding .button-follow { border-color: #393251 }
.theme-dark h2.sep { border-top: 1px solid #333; }

.theme-dark .post code { background-color: #232323; border-color: #0A0A0A; color: #d3d3d3; }
.theme-dark .icon-heart.active { color: #a69988; filter: sepia(1) hue-rotate(504deg) brightness(0.75) saturate(5); }
.theme-dark .post .actions .link.active { color: #a69988; }

.theme-dark .button-follow-big:hover { background-color: #444; }
.theme-dark .maxheight-limited:before { background: linear-gradient(rgba(38, 36, 46, 0), #242424 70%); }
