.editable .icon-edit { margin-left: -24px; padding: 7px; border-radius: 30px; margin-top: -5px; position: absolute; opacity: 0; transition: all 0.3s }
.editable:hover .icon-edit { opacity: 0.7 }
.editable .icon-edit:hover { opacity: 1; transition: none }
.editable .editablebuttons { text-align: right; padding-bottom: 10px }
.editable .editablebuttons .link:focus { outline: none }
.editable .empty { opacity: 0.6; }
.editable.editing.overlay {
	padding: 10px; margin-left: -10px; background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 20px #EEE; margin-bottom: -62px; z-index: 999; position: relative;
}
