.head-container { background-color: white; box-shadow: 0px -7px 32px rgba(0,0,0,0.15); max-height: 50px; }

.head .logo {
	height: 50px; padding: 4px 6px; box-sizing: border-box; display: inline-block;
	color: white; font-size: 30px; font-weight: lighter; text-decoration: none; vertical-align: top;
}

.head .right { float: right; }
.head .user { display: inline-block; vertical-align: top; margin-right: 20px; text-align: right; padding-top: 7px; }
.head .user .name { color: #5d68ff; font-weight: normal; }
.head .user .address { display: block }
.head .settings {
	display: inline-block; height: 50px; width: 50px; text-align: center; vertical-align: middle; transition: all 0.3s;
	border-left: 1px solid #EEE; line-height: 50px; font-size: 20px; color: #AAA; font-weight: normal; text-decoration: none;
}
.head .settings:hover { color: #5d68ff; background-color: #FAFAFA; transition: none }
.head .settings:active { background-color: #F5F5F5; transition: none }
.head .menu { box-shadow: 0px 4px 8px rgba(0,0,0,0.1) }

.head li { float: left; }
.head ul { list-style-type:none; display: inline-block; margin:0; padding:0; overflow:hidden; }
.head ul li, .head ul li a { display: block; text-align: center; color: #AAA; }
.head ul li:hover, .head ul li a:hover {
	background-color: #FAFAFA; transition: none; color: #4F4F4F; text-decoration: none;
}
.head ul li a { padding-top: 16px; width: 100px; height: 34px; }
