.head-container { background-color: white; box-shadow: 0px -7px 32px rgba(0,0,0,0.15); max-height: 50px; }
.sticky-header .head-container { width: 100%; position: fixed; z-index: 2; }
.head .logo {
	height: 50px; padding: 4px 6px; box-sizing: border-box; display: inline-block;
	color: white; font-size: 30px; font-weight: lighter; text-decoration: none; vertical-align: top;
	text-align: center;
}
body:not(.logo-left) .head .logo { width: 42%; }

.head .right { float: right; }
.head .user { display: inline-block; vertical-align: top; margin-right: 20px; text-align: right; padding-top: 7px; }
.head .user .name { color: #5d68ff; font-weight: normal; }
.head .user .address { display: block }
.head .settings {
	display: inline-block; height: 50px; width: 50px; text-align: center; vertical-align: middle; transition: all 0.3s;
	border-left: 1px solid #EEE; line-height: 50px; font-size: 20px; color: #AAA; font-weight: normal; text-decoration: none;
}
.head .settings:hover { color: #fff; background-color: rgb(211, 12, 55); transition: none }
.head .settings:active { filter: opacity(0.5); transition: none }
.head .menu { box-shadow: 0px 4px 8px rgba(0,0,0,0.1) }

.head li { float: left; }
.head ul { list-style-type:none; display: inline-block; margin:0; padding:0; overflow:hidden; }
.head ul li, .head ul li a { display: block; text-align: center; color: #AAA; }
.head ul li:hover, .head ul li a:hover {
	background-color: rgb(211, 12, 55); transition: none; color: #fff; text-decoration: none;
}
.head ul li:active, .head ul li a:active {
    filter: opacity(0.5);
}
.head ul li a { padding-top: 16px; width: 100px; height: 34px; }

.sticky-header .headerfoot { width: 100%; height: 50px}
