.head-container { background-color: white; box-shadow: 0px -7px 32px rgba(0,0,0,0.15); }

.head .logo {
	height: 50px; padding: 4px 6px; box-sizing: border-box; display: inline-block;
	color: white; font-size: 30px; font-weight: lighter; text-decoration: none
}

.head .right { float: right; }
.head .user { display: inline-block; vertical-align: top; margin-right: 20px; text-align: right; padding-top: 7px; }
.head .user .name { color: #5d68ff; font-weight: normal; }
.head .user .address { display: block }
.head .settings {
	display: inline-block; height: 50px; width: 50px; text-align: center; vertical-align: middle; transition: all 0.3s;
	border-left: 1px solid rgba(0, 0, 0, 0.05); line-height: 50px; font-size: 20px; color: #AAA; font-weight: normal; text-decoration: none;
}
.head .settings:hover { color: #5d68ff; background-color: #FAFAFA; transition: none }
.head .settings:active { background-color: #F5F5F5; transition: none }
.head .menu { box-shadow: 0px 4px 8px rgba(0,0,0,0.1) }


@media screen and (max-width: 1100px) {
	.head .right { margin-right: 80px; }
}