.menu {
	background-color: white; padding: 10px 0px; position: absolute; top: 0px; max-height: 0px; overflow: hidden; transform: translate(-100%, -30px); pointer-events: none;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1); border-radius: 2px; opacity: 0; transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out; z-index: 99;
	display: inline-block; z-index: 999; margin-top: 50px;
}
.menu-right { left: 100% }
.menu.visible { opacity: 1; max-height: 350px; transform: translate(-100%, 0px); transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out; pointer-events: all }

.menu-item { display: block; text-decoration: none; color: black; padding: 6px 24px; transition: all 0.2s; border-bottom: none; font-weight: normal; padding-left: 32px; white-space: nowrap; }
.menu-item-separator { margin-top: 3px; margin-bottom: 3px; border-top: 1px solid #eee }

.menu-item:hover { background-color: rgb(211, 12, 55); transition: none; color: inherit; cursor: pointer; color: #fff; text-decoration: none }
.menu-item:active, .menu-item:focus { filter: opacity(0.5); transition: none }
.menu-item.selected:before {
	content: "L"; display: inline-block; transform: rotateZ(45deg) scaleX(-1); line-height: 15px;
	font-weight: bold; position: absolute; margin-left: -14px; font-size: 12px; margin-top: 2px;
}