
.post-2-column { display:flex; margin-left: -700px; }
.post-2-column .post-list { margin: 6px; }

.center < .post-2-column { margin-left: 800px; }

.post {
	background-color: rgba(255,255,255,0.9); padding: 16px 20px; padding-left: 80px; border-radius: 4px; backface-visibility: hidden; transform-style: preserve-3d; transform: translateZ(0);
	border: 1px solid #EEF0F1; border-bottom: 2px solid #ECEDEE; margin-bottom: 12px; transition: all 0.3s;
}
.no-transparent .post { background-color: white; }
.post.selected { box-shadow: 0px 0px 40px rgba(0,0,0,0.1); }

.post .user .settings { float: right; color: #AAA; transition: all 0.3s; padding: 0px 10px; margin-right: -10px }
.post .user .settings:hover { text-decoration: none; color: #333 }
.post .user .settings:active { background-color: #F5F5F5; transition: none }
.post .user:hover .settings { transition: none }

.post .user { padding-bottom: 8px; height: 21px; line-height: 20px; }
.post .user .address, .post .added, .post .sep { font-size: 14px; color: #AAA;}
.post .body { padding-top: 2px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 1.5em; color: #333; word-break: break-word; overflow: hidden }
.post .reply-name { font-size: 14px; font-family: Roboto, Helvetica, Arial; color: #555; background: #EEE; padding: 4px; border-radius: 18px; }
.post .actions { height: 30px; margin-left: -5px; }
.post .actions .icon { margin-right: 1px; text-decoration: none }
.post .actions .link { color: #AAA; font-size: 12px; height: 30px; vertical-align: middle; line-height: 30px; display: inline-block; padding-right: 10px }
a.icon.link:hover {
    color: rgb(211, 12, 55);
}
a.icon.link:active {
    background: rgb(211, 12, 55);
    color: #fff;
    border-radius: 5px;
}
.post .actions .link.active { color: rgb(211, 12, 55); }
.post .actions .link.active:hover { filter: opacity(0.5) }
.post .actions .link.active:active { color: #fff }
.post .actions .like { width: 35px; margin-right: 0px; transition: width 0.3s, margin-right 0.3s; white-space: nowrap; position: relative; }
.post .actions .like.like-zero { width: 20px; margin-right: 5px; }

.post code { background-color: #FBFBFB; padding: 3px 4px; border: solid 1px #e1e4e5; font-family: Consolas, Monaco, monospace; font-size: 13px }
.post pre code {
	border: none; padding: 0px; background-color: transparent; border: none; overflow-x: auto; display: inline-block; max-width: 100%; padding-right: 20px; box-sizing: border-box;
	border: solid 1px #e1e4e5; padding: 10px; background-color: #FBFBFB; font-family: Consolas, Monaco, monospace; border-bottom: 2px solid #e1e4e5; line-height: 1em;
}

.post blockquote { padding-left: 2em; margin-left: 3px; border-left: 3px solid #c7c7c8; padding-top: 0.8em; font-style: italic; padding-bottom: 0.8em; }

.post ul { margin: 0px; padding-bottom: 0.6em; }

.post table { border-collapse: collapse; margin-bottom: 10px; }
.post td, .post th { padding: 5px 10px; border: 1px solid #EEE; border-collapse: collapse; }

.post-create-container { margin-bottom: 12px }
.post-create { transition: all 0.6s }
textarea { background: rgba(255, 255, 255, 0.5); }
.no-transparent textarea { background: white; }
.post-create .postfield {
	font-family: Roboto; font-size: 16px; border: 1px solid rgba(255, 255, 255, 0.3); padding: 15px 15px;
	font-size: 16px; width: 100%; height: 52px; box-sizing: border-box; padding-right: 40px;
}
.post-create .user { margin-bottom: 0px; height: auto; padding-bottom: 0px; }
.post-create .postbuttons { height: 55px; box-sizing: border-box; transform: scale(1); overflow: hidden; transition: all 0.3s; text-align: right }
.post-create.editing .postfield { border: 1px solid #c6caff }
.post-create.editing { box-shadow: 0px 1px 13px 1px #eaeaea }
.post-create .select-user-container { width: 100%; text-align: center; margin-bottom: -100px; height: 100px; z-index: 1; position: relative; }
.post-create .attach { font-size: 12px; text-transform: uppercase; border: 0px; padding: 8px 20px; font-weight: bold; }
.post-create .icon-image { position: absolute; margin-left: 490px; margin-top: 17px; color: #CECECE; transition: all 0.3s }
.post-create .icon-image:hover { color: #5d68ff; transition: none }
.post-create .image {
	width: 100%; height: 0px; background-repeat: no-repeat; transform: scale(1); background-position: top center;
	background-size: cover; opacity: 1; transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1); overflow: hidden;
}
.post-create .image .close { float: right; color: white; font-weight: bold; text-shadow: 0px 0px 11px black; padding: 10px; }
.post-create .image.empty { opacity: 0; transform: scale(1.5) }

.post-create:not(.editing) .postbuttons { opacity: 0; height: 0px; }
.post-create:not(.editing) .image { opacity: 0; height: 0px; }

.post-list-empty { text-align: center; padding-top: 100px }
.post-list-type { text-align: right; background-color: rgba(255,255,255,0.9); padding: 0px 20px; padding-left: 80px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; transform-style: preserve-3d; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); border: 1px solid #EEF0F1; border-bottom: 2px solid #ECEDEE; margin-bottom: 12px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s }
.no-transparent .post-list-type { background-color: white }
.post-list-type a {
	margin-right: 10px; padding-bottom: 5px; display: inline-block; border-bottom: 2px solid rgba(0,0,0,0);
	color: #555; margin-bottom: 7px; margin-top: 10px; margin-left: 10px; transition: all 0.3s
}
.post-list-type .active { border-bottom: 2px solid rgb(211, 12, 55); color: rgb(211, 12, 55) }
.post-list-type a:hover { border-bottom: 2px solid rgb(211, 12, 55); color: rgb(211, 12, 55); transition: none; text-decoration: none }

.post .img { background-size: cover; text-align: center; position: relative; margin-bottom: 10px; }
.post .img .show {
	top: 50%; display: inline-block; color: white; background-color: #606aff; overflow: hidden;
	width: 140px; position: absolute; margin-left: -70px; box-sizing: border-box; margin-top: -20px; height: 40px; padding: 12px 20px;
    text-transform: uppercase; font-size: 12px; border-radius: 25px; transition: all 0.3s;
}
.post .img .show .title { white-space: pre; line-height: 30px; height: 16px; transform: translateY(-36px); transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) }
.post .img .details {
	bottom: 0px; position: absolute; font-size: 14px; right: 10px; padding: 5px 10px; margin-bottom: 12px; text-decoration: none;
	background-color: rgba(0, 0, 0, 0.4); border-radius: 30px; color: white; opacity: 0; transition: all 0.3s
}
.post .img .details .size { display: inline-block; margin-right: 9px; max-width: 80px; overflow: hidden; white-space: nowrap; vertical-align: -4px; transition: all 0.3s ease-out; }
.post .img .fullsize { width: 100%; height: 100%; display: block; background-size: contain; opacity: 0; transition: all 0.6s; position: absolute; background-repeat: no-repeat; background-color: white; }
.post .img.loading .show { background-color: #2ecc71; animation: bounce .3s infinite alternate ease-out; pointer-events: none;  }
.post .img.loading .show .title { transform: translateY(-6px);  }
.post .img.downloaded .fullsize { opacity: 1; cursor: zoom-in }
.post .img.downloaded .show { opacity: 0; pointer-events: none; visibility: hidden; }
.post .img.hasinfo .details { opacity: 1 }
.post .img.downloaded .details { opacity: 0 }
.post .img.downloaded .details .size { max-width: 0px; }
.post .img.downloaded:hover .details { opacity: 1 }
.post .img .menu { text-align: right; margin-top: -94px; z-index: 999; font-size: 15px; line-height: 20px; }
.post .img .image-settings { color: white; padding: 2px 7px; text-decoration: none }
.post .img .details:hover { background-color: rgba(0,0,0,0.7); transition: none }
.post .img .details:active { background-color: rgba(0,0,0,0.5); transition: none }
.post .img .oldversion { background-color: rgba(0, 0, 0, 0.5); padding: 10px 10px; top: 49%; position: relative; color: white; border-radius: 25px; }
